MANIFEST=warmup-manifest-snapshot.yml
TESTS_IMAGE=jahia/sitemap:latest
JAHIA_IMAGE=jahia/jahia-private:snapshot-dev
JAHIA_URL=http://jahia:8080
JAHIA_HOST=jahia
JAHIA_PORT=8080
JAHIA_CONTEXT=
JAHIA_USERNAME=root
JAHIA_PASSWORD=root
NEXUS_USERNAME=NEXUS_USERNAME
NEXUS_PASSWORD=NEXUS_PASSWORD
