.sitemapIndexFileTitle {
    display: flex;
    align-items: center;

    padding-bottom: 10px;

    font-weight: bold;
    font-size: 14px;
    font-style: normal;

    color: rgba(19, 28, 33, 0.6);

    line-height: 18px;
}

.sitemapIndexFileDescription {
    display: flex;
    align-items: center;

    padding-bottom: 10px;

    font-weight: normal;
    font-size: 12px;
    font-style: normal;

    color: rgba(19, 28, 33, 0.6);

    line-height: 16px;
}

.sitemapIndexFileCardArea {
    display: flex;
    flex-direction: row;

    margin: 20px;
}

.sitemapIndexFileName {
    margin: 4px 25px;

    &.disabled {
        color: lightgrey;
    }
}

.sitemapIndexFileIconEnabled {
    transform: scale(1.5);
}

.sitemapIndexFileButton {
    margin-left: auto;
}
